
.topbar{
    margin-top: 20px;
    display: flex;
}
.topLeft{
    padding:0 5px;
    flex:10;
}
.topRight{
    flex:3;
    display: flex;
    align-items: center;
    
}
.subscribe{
    border:1px solid #5F9F34;
    background-color: #5F9F34;
    color:#FFF;
    padding: 2px;
    width:80px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    margin-left:40px;
    cursor: pointer;

}
.login{
    background-color: #393939;
    color:#FFF;
    padding: 2px;
    width:50px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}